<div class="form">
    <input
        type="text"
        class="input"
        placeholder="Ваша зарплата (gross)"
    >
    <label class="checkbox">
        <input
            type="checkbox"
            name=""
        > Учитывать 13-ую зарплату </label>
    <button class="button">Расчитать</button>
</div>
<div *ngIf="false" class="panel-content">
    <input
        type="text"
        class="input"
        placeholder="Ваша зарплата (gross)"
    >
    <div class="select">
        <select placeholder="Месяц">
            <option>Январь</option>
            <option>Декабрь</option>
        </select>
    </div>
    <label class="checkbox">
        <input
            type="checkbox"
            name=""
        > Учитывать 13-ую зарплату </label>
    <button class="button">Расчитать</button>
</div>