$turquoise: #00b492;
$green: #93ea20;
$dark-green: #004550;

$light: #f8f8f8;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $turquoise;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$panel-heading-background-color: $primary;
$panel-heading-color: $dark-green;