$turquoise: #00b492;
$green: #93ea20;
$dark-green: #004550;
$turquoise-transparent: rgba(0, 180, 146, 0.2);

$light: #f8f8f8;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $turquoise;
$text-strong: $dark-green;


// Update some of Bulma's component variables
$panel-heading-background-color: $primary;
$panel-heading-color: $dark-green;