<div class="centered-container">
    <div class="panel">
        <div class="panel-heading"> {{ 'MAIN.PANEL-HEADING' | translate }} </div>
        <div class="tabs is-fullwidth">
            <ul>
                <li routerLinkActive="is-active">
                    <a routerLink="/calculator/average">{{ 'MAIN.TAB-AVERAGE' | translate }}</a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="/calculator/month">{{ 'MAIN.TAB-MONTH' | translate }} </a>
                </li>
                <li routerLinkActive="is-active">
                    <a routerLink="/settings">{{ 'MAIN.TAB-SETTINGS' | translate }}</a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>
        <app-loader *ngIf="loading$ | async"></app-loader>
    </div>
    <app-page-footer></app-page-footer>
</div>