<form
    [formGroup]="formData"
    (ngSubmit)="onFormSubmit()"
>
    <div class="form-field">
        <label class="label"> Коэффициент для рассчетов:</label>
        <input
            type="text"
            class="input"
            placeholder="Введите свое значение коэффициента"
            formControlName="index"
            required
        >
    </div>
    <div class="buttons-block">
        <button
            type="button"
            class="button"
            (click)="onResetClick()"
        >Сбросить до исходного</button>
        <button
            type="submit"
            [disabled]="!formData.valid || initialValue == formData.value.index"
            class="button is-primary"
        >Сохранить</button>
    </div>
</form>