@import "../../shared/variables.scss";

:host {
  position: absolute;
  bottom: 0;
  margin-bottom: 7%;

  .result-item {

    &:not(:last-child) {
        margin-bottom: 5%;
    }

    h3 {
      font-size: 1.3em;
      font-weight: bold;
      color: $dark-green;
    }

    p {
      font-size: 2em;
      font-weight: bold;
      color: $green;
    }
  }
}
