<form
    [formGroup]="formData"
    (ngSubmit)="onFormSubmit()"
>
    <div class="form-field">
        <label
            class="label"
            for="grossMonthlySalary"
            ng-required
        >{{ 'FORM.TYPE-SALARY' | translate }}:</label>
        <input
            id="grossMonthlySalary"
            type="text"
            class="input"
            placeholder="Ваша зарплата (gross)"
            formControlName="grossMonthlySalary"
            required
        >
    </div>
    <div
        *ngIf="formType === formTypes.SalaryForGivenMonth"
        class="form-field"
    >
        <label
            class="label"
            for="month"
            ng-required
        >{{ 'FORM.CHOOSE-MONTH' | translate }}:</label>
        <div class="select">
            <select
                id="month"
                formControlName="month"
                required
            >
                <option *ngFor="let month of months; let index">{{month}}</option>
            </select>
        </div>
    </div>
    <div class="form-field">
        <label class="label checkbox">
            <input
                type="checkbox"
                name="isThirteensSalaryChecked"
                formControlName="isThirteensSalaryChecked"
            >{{ 'FORM.CHOOSE-THIRTEENS-SALARY' | translate }}</label>
    </div>
    <div class="buttons-block">
        <button
            class="button"
            type="button"
            [disabled]="!formData.dirty"
            (click)="onResetClick()"
        >{{ 'BUTTON.RESET' | translate }}</button>
        <button
            type="submit"
            class="button is-primary"
            [disabled]="!formData.valid"
        >{{ 'BUTTON.CALCULATE' | translate }}</button>
    </div>
</form>